.acceptance {
    width: 95%;
    min-height: 82vh;
    max-height: 82vh;
    margin: 11px auto;
    box-shadow: 0 0 17px rgb(216, 216, 216);
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.container-fluid {
    padding-top: 10px;
}
.main-header {
    margin-bottom: 25px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 44px;
    text-shadow: 0 0 16px #f88d00;
    color: white;
    text-transform: capitalize;
}
.btn-dialog, .save-btn {
    color: white;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    text-transform: capitalize;
}
.save-btn {
    margin-top: 10px;
}
.container-table {
    width: 80%;
    margin: 15px auto;
    overflow-x: scroll;
    padding: 10px;
    box-shadow: 0 0 17px rgb(216, 216, 216);
    border-radius: 15px;
}
