<div class="show-plan">
    <div class="container-fluid" *ngIf="planId != 0 ">
      <h1 class="text-center main-header">plan of employee</h1> 
      <button class="btn btn-info" *ngIf="objectiveUpdate?.length > 0" (click)="openModelUpdate()"><i class="fas fa-percent"></i> evaluate quarter</button> 
      <div class="container-table">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <td rowspan="2">id</td>
                      <td rowspan="2">date</td>
                      <td rowspan="2">year</td>
                      <td rowspan="2">direct manager</td>
                      <td colspan="2">performance</td>
                      <td colspan="2">behavior</td>
                      <td rowspan="2">status</td>
                  </tr>
                  <tr>
                      <td>employee</td>
                      <td>manager</td>
                      <td>employee</td>
                      <td>manager</td>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of employeePlanData">
                      <td>{{ item.planId }}</td>
                      <td>{{ item.creationDate | date:'dd/MM/yyyy' }}</td>
                      <td>{{ item.planYear }}</td>
                      <td>{{ item.directManager }}</td>
                      <td>{{ item.employeePerformanceResult }}</td>
                      <td>{{ item.managerPerformanceResult }}</td>
                      <td>{{ item.employeeBehaviorResult }}</td>
                      <td>{{ item.managerBehaviorResult }}</td>
                      <td>{{ item.status.statusName }}</td>
                  </tr>
              </tbody>
          </table>
      </div>
      <h1 class="text-center main-header">your objective of plan</h1>
      <div class="container-table">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td rowspan="2">id</td>
                    <td rowspan="2">descreption</td>
                    <td colspan="2">objective</td>
                    <td rowspan="2">quarter period</td>
                    <td rowspan="2">accept</td>
                    <td rowspan="2">comment</td>
                    <td colspan="2">employee evaluation</td>
                    <td colspan="2">manager evaluation</td>
                </tr>
                <tr>
                    <td>value</td>
                    <td>weight</td>
                    <td>value</td>
                    <td>weight</td>
                    <td>value</td>
                    <td>weight</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of employeePlanData[0].employeePlanObjectives">
                    <td>{{ item.objectiveId }}</td>
                    <td>{{ item.descreption }}</td>
                    <td>{{ item.objectiveValue }}</td>
                    <td>{{ item.objectiveWeight }} %</td>
                    <td>{{ item.periodName }}</td>
                    <td>
                        <p class="text-center text-success" *ngIf="item.isAcceptted">accept</p>
                        <p class="text-center text-danger" *ngIf="!item.isAcceptted">un accept</p>
                    </td>
                    <td>{{ item.comment }}</td>
                    <td>{{ item.employeeEvaluoationValue }}</td>
                    <td>{{ item.employeeEvaluoationWeight }} %</td>
                    <td>{{ item.managerEvaluoationValue }}</td>
                    <td>{{ item.managerEvaluoationWeight }} %</td>
                </tr>
            </tbody>
        </table> 
      </div>
    </div>
    <div class="container-fluid header-container" *ngIf="planId == 0">
        <h1 class="text-center main-header">you don't have any plan to show it</h1>
        <a class="btn btn-info" routerLink="/createPlan" routerLinkActive="active" >create plan</a>
    </div>
</div>

<p-dialog [(visible)]="showUpdateModel" [modal]="true" [style]="{width: '35vw',backgroundColor: '#efff00 !important'}" [baseZIndex]="10000" [draggable]="false" [resizable]="true" styleClass="mydialog">
    <h6 class="text-center main-header">Say Your Decision</h6>
    <div class="row">
        <div class="col-12">
            objective value :- {{ Value }}
        </div>
        <div class="col-12">
            objective value :- {{ Weight }} %
        </div>
        <div class="col-12">
            <form class="status-form" [formGroup]="QuarterEvaluationForm">
                <div class="container">
                    <div class="form-group">
                        <label for="Value">Value</label>
                        <input class="form-control" type="number" name="Value" [(ngModel)]="plan.objective.employeeEvaluoationValue" formControlName="Value" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete="off" placeholder="Employee Value">
                    </div>
                    <p-message severity="error" [text]="QuarterEvaluationForm.controls['Value'].errors['required'] ? 'This Value Is Required' : QuarterEvaluationForm.controls['Value'].errors['min'] ? 'The Minimum value Of This Value Is 1' : ''" *ngIf="!QuarterEvaluationForm.controls['Value'].valid&&QuarterEvaluationForm.controls['Value'].dirty"></p-message>

                    <div class="form-group">
                        <label for="Weight">Weight</label>
                        <input class="form-control" type="number" name="Weight" [(ngModel)]="plan.objective.employeeEvaluoationWeight" formControlName="Weight" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete="off" placeholder="Employee Weight">
                    </div>
                    <p-message severity="error" [text]="QuarterEvaluationForm.controls['Weight'].errors['required'] ? 'This Weight Is Required' : QuarterEvaluationForm.controls['Weight'].errors['min'] ? 'The Minimum value Of This Weight Is 1' : ''" *ngIf="!QuarterEvaluationForm.controls['Weight'].valid&&QuarterEvaluationForm.controls['Weight'].dirty"></p-message>

                    <button class="btn btn-warning save-btn" (click)="saveData()"><i class="far fa-save"></i> save</button>
                </div>
            </form>
        </div>
    </div>

</p-dialog>


<p-dialog [(visible)]="showLoading" [modal]="true" [style]="{width: '255px',backgroundColor: '#efff00 !important'}" [baseZIndex]="10000" [draggable]="false" [resizable]="true" styleClass="mydialog" [closable]="false">

    <img class="text-center img-thumbnail" src="../../../../assets/images/spinningwheel.gif" alt="" width="250px" height="200px" style="position: relative; left: 1%;">
</p-dialog>

<p-dialog header="Success" [(visible)]="showSuccess" [modal]="true" [style]="{width: '60vw',backgroundColor: '#efff00 !important'}" [baseZIndex]="10000" [draggable]="false" [resizable]="true" styleClass="mydialog">

    <img class="text-center img-thumbnail" src="../../../../assets/images/dribbble-success-2.gif" alt="" width="300px" height="200px" style="margin: 0 auto; display: block;">
    <h4 class="text-center">{{message}}</h4>
</p-dialog>

<p-dialog header="Error" [(visible)]="showError" [modal]="true" [style]="{width: '60vw',backgroundColor: '#efff00 !important'}" [baseZIndex]="10000" [draggable]="false" [resizable]="true" styleClass="mydialog">

    <img class="text-center img-thumbnail" src="../../../../assets/images/InferiorAnxiousAustralianfreshwatercrocodile-size_restricted.gif" alt="" width="300px" height="200px" style="margin: 0 auto; display: block;">
    <h4 class="text-center">{{message}}</h4>
</p-dialog>